body{
  margin: 0;
  padding: 0;
  /* height: 100%; */
  /* background: linear-gradient(to bottom, #B1CDDD, #F3B0BB, #FDEFF2); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  
}


.App {
  text-align: center;
  /* background: linear-gradient(to bottom, #B1CDDD, #F3B0BB, #FDEFF2); */
}




.classdiv{
  border: 2px solid black;
  background-color: #D380D3;
  text-align: center;
  padding: 20px 60px 80px 60px;
  height: 200px;
  width: 400px;
  border-radius: 30px;
  position: absolute;
  top: 20rem;
  right: 8rem;
}

.funcdiv{
  border: 2px solid black;
  background-color: #63FBFD;
  text-align: center;
  padding: 20px 60px 80px 60px;
  height: 200px;
  width: 400px;
  border-radius: 30px;
  position: absolute;
  top: 20rem;
  left: 8rem;
}

.mainh1{
  text-shadow: 4px 4px 4px rgba(52, 219, 235);
  
}

.funcbutton{
    padding: 20px 20px;
    border-radius: 30px;
    background-color: #A5D3E4;
}

.funcbutton:hover{
  background-color: #63FBFD;
}

.classbutton{
  padding: 20px 25px;
  border-radius: 30px;
  background-color: #A5D3E4;
}

.classbutton:hover{
  background-color: #63FBFD;
}


.buttondiv{
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 5rem;
}

/* .displayitems{
  display: flex;
  justify-content: center;
  gap: 6rem;
  
} */
